<form action="/gogaga/add" method="POST">
    <input type="text" name="name" placeholder="Name" />

    <input type="text" name="department" placeholder="Department" />

    <input type="text" name="sem" placeholder="Semester" />

    <button type="submit">Add</button>
</form>