<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Semester</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.department}}</td>
            <td>{{this.sem}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>